// main.scss

@import "partials/base";

@import "partials/header";
@import "partials/content";
@import "partials/footer";

@import "partials/error";
@import "partials/forms";
@import "partials/animations";

/********************/
/* General elements */
/********************/

a {
  color: lighten($clr-main, 20%);
  text-decoration: none;
  transition: color 0.25s ease 0s;
}

a:hover {
  color: $clr-neutral;
}

a:hover > .icon {
  fill: $clr-main;
}

b {
  color: $clr-neutral;
}

h2,
h3 {
  color: $clr-neutral;
  font-family: $font-family-base;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  font-style: italic;
}

/****************/
/* Class styles */
/****************/

.btn {
  background: transparent;
  border: 2px solid $clr-main;
  border-radius: 2px;
  color: $clr-neutral;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-alt;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 25px;
  padding: 5px 15px 5px 15px;
  transition: background 0.5s ease 0s, border-color 0.5s ease 0s;
  vertical-align: middle;
  width: auto;
}

.btn:hover {
  background: $clr-main;
  border-color: $clr-neutral;
}

.btn-fixed {
  @extend .btn;
  margin-top: 20px;
  width: 90px;
}

.btn-fixed:hover {
  background: $clr-main;
  border-color: $clr-neutral;
}

.center {
  text-align: center;
}

.coming-soon {
  color: $clr-main;
  display: block;
  font-family: $font-family-alt;
  font-size: 90px;
  margin: 0 auto;
  padding-top: 100px;
}

.divider {
  background: $clr-main;
  display: block;
  height: 2px;
  margin: 20px auto;
  width: 150px;
}

.emphasis {
  color: $clr-main;
}

.fa-hero {
  font-size: 300px;
  padding: 25px;
}

.fa-hero-success {
  @extend .fa-hero;
  color: #093;
}

.fa-hero-fail {
  @extend .fa-hero;
  color: $clr-main;
}

.icon {
  fill: $clr-content;
  height: 64px;
  margin: 5px;
  transition: fill 0.5s ease 0s;
  width: 64px;
}

.icon-bar {
  margin: 0 auto;
  padding-top: 50px;
}