// main.scss

@import "partials/base";

@import "partials/header";
@import "partials/content";
@import "partials/footer";

@import "partials/error";
@import "partials/forms";
@import "partials/animations";

/********************/
/* General elements */
/********************/

a {
  color: lighten($clr-main, 20%);
  text-decoration: none;
  transition: color 0.25s ease 0s;
}

a:hover {
  color: $clr-neutral;
}

a:hover > .icon {
  fill: $clr-main;
}

b {
  color: $clr-neutral;
}

h2,
h3 {
  color: $clr-neutral;
  font-family: $font-family-base;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  font-style: italic;
}

/****************/
/* Class styles */
/****************/

.center {
  text-align: center;
}

.divider {
  background: $clr-main;
  display: block;
  height: 2px;
  margin: 20px auto;
  width: 150px;
}

.emphasis {
  color: $clr-main;
}

.fa-hero {
  font-size: 300px;
  padding: 25px;
}

.fa-hero-success {
  @extend .fa-hero;
  color: #093;
}

.fa-hero-fail {
  @extend .fa-hero;
  color: $clr-main;
}

.icon {
  fill: $clr-content;
  height: 64px;
  margin: 5px;
  transition: fill 0.5s ease 0s;
  width: 64px;
}

.icon-bar {
  margin: 0 auto;
  padding-top: 50px;
}